%YAML:1.0
---
schema: fitra_floor_tag_map_v1
unit: m
coordinate_system: "world: x/y on floor, z up (FitraWorld); T_world_tag is tag->world"
origin_tag_id: 0
tags:
   -
      id: 0
      size_m: 1.6800000000000001e-01
      R: !!opencv-matrix
         rows: 3
         cols: 3
         dt: d
         data: [ 1., 0., 0., 0., 1., 0., 0., 0., 1. ]
      t: !!opencv-matrix
         rows: 1
         cols: 3
         dt: d
         data: [ -2.9999999999999999e-01, -2.9999999999999999e-01, 0. ]
   -
      id: 1
      size_m: 1.6800000000000001e-01
      R: !!opencv-matrix
         rows: 3
         cols: 3
         dt: d
         data: [ 1., 0., 0., 0., 1., 0., 0., 0., 1. ]
      t: !!opencv-matrix
         rows: 1
         cols: 3
         dt: d
         data: [ 2.9999999999999999e-01, -2.9999999999999999e-01, 0. ]
   -
      id: 2
      size_m: 1.6800000000000001e-01
      R: !!opencv-matrix
         rows: 3
         cols: 3
         dt: d
         data: [ 1., 0., 0., 0., 1., 0., 0., 0., 1. ]
      t: !!opencv-matrix
         rows: 1
         cols: 3
         dt: d
         data: [ -2.9999999999999999e-01, 2.9999999999999999e-01, 0. ]
   -
      id: 3
      size_m: 1.6800000000000001e-01
      R: !!opencv-matrix
         rows: 3
         cols: 3
         dt: d
         data: [ 1., 0., 0., 0., 1., 0., 0., 0., 1. ]
      t: !!opencv-matrix
         rows: 1
         cols: 3
         dt: d
         data: [ 2.9999999999999999e-01, 2.9999999999999999e-01, 0. ]
   -
      id: 10
      size_m: 1.1000000000000000e-01
      R: !!opencv-matrix
         rows: 3
         cols: 3
         dt: d
         data: [ 1., 0., 0., 0., 0., -1., 0., 1., 0. ]
      t: !!opencv-matrix
         rows: 1
         cols: 3
         dt: d
         data: [ 0., 5.0000000000000000e-01, 4.0000000000000002e-01 ]
   -
      id: 11
      size_m: 1.1000000000000000e-01
      R: !!opencv-matrix
         rows: 3
         cols: 3
         dt: d
         data: [ 1., 0., 0., 0., 0., -1., 0., 1., 0. ]
      t: !!opencv-matrix
         rows: 1
         cols: 3
         dt: d
         data: [ 0., 5.0000000000000000e-01, 6.9999999999999996e-01 ]
